.rimon{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color:#736F6E;
	width: 850px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;


}
.b{
	color:  orange;
	font-size: 25px;
}
.c{
	width: 600px;
	height:400px;
	padding: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.a{
	font-size: 40px;
	font-family: 
}
.d{
	color: skyblue;
	
}